@font-face {
  font-family: mainFont;
  src: url(fonts/regular.woff);
}

@font-face {
  font-family: boldMainFont;
  src: url(fonts/bold.woff);
}

.navigation-bar{
  text-align: center;
}

.navigation-bar ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navigation-bar img{
  width: 40px;
  height: 40px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  transition: filter 0.25s;
}

.navigation-bar img:hover{
  filter: invert(0.5);
  
}

.navigation-bar #navigation-bar-left{
  float: left;
}

.navigation-bar #navigation-bar-center{
  float: center;
  margin: 0;
}

.navigation-bar #navigation-bar-right{
  float: right;
}

.search-bar{
  margin-top: 2%;
}

.search-bar hr{
  margin-top: 0;
  width: 90%;
}

.search-bar input{
  border: none;
  width: 90%;
  font-family: mainFont;
  font-size: medium;
}

.search-bar input:focus{
  outline-width: 0;
}

.auth-panel{
  text-align: center;
  position: absolute;               
  top: 35%;                         
  transform: translate(0, -75%);
  width: 100%;
}

.auth-panel h1{
  font-family: boldMainFont;
  font-size: xx-large;
}

.auth-panel input{
  border: none;
  width: 60%;
  font-family: mainFont;
  font-size: medium;
}

.auth-panel .error {
  outline-color: red;
}

.auth-panel input:focus{
  outline-width: 0;
}

.auth-panel input[type=submit]{
  margin: auto;
  width: 30%;
}

.auth-panel input[type=submit]:hover{
  color: white;
  background-color: black;
}


.auth-panel hr{
  margin: auto;
  width: 60%;
}

.auth-panel a{
  font-family: mainFont;
  font-size: medium;
}

.auth-panel a:link{
  text-decoration:dotted;
}

.auth-panel a:visited{
  color: gray;
}

.auth-panel a:hover{
  text-decoration: underline;
}

::placeholder{
  text-align: center;
}
